<app-menu-bar></app-menu-bar>

<div class="site-inner">
    <main id="main">
        <section class="content">

            <ul id="framesList">
                <li *ngFor="let frameThumb of frameThumbs" class="animated fadeInUp">
                    <a [routerLink]="['/edit']" [queryParams]="{frame: frameThumb.id, path:frameThumb.path }">
                        <img src="{{ frameThumb.path }}" class="animated slideInUp">
                    </a>
                </li>
            </ul>

            <h2>Choose your frame!</h2>

        </section>
    </main>
</div>