<div id="main">

  <!-- INTRO BANNER -->
  <div id="banner">
    <div id="logo">
      <a href="/home"><img src="/assets/img/AdidasVideoHacking_gray.svg" alt=""></a>
    </div>
    <h1>What is<br><span class="title-color-one">Adidas Video</span><br> <span class="title-color-two">Hacking</span><br></h1>
  </div>

  <!-- WHAT IS IT -->
  <div id="what">
    <div class="container">
      <p>Whoever wants to express his creativity can become part of the creative process of an adidas promotional video, becoming its co-creator.</p>
    </div>
  </div>

  <!-- HOW DOES IT WORK -->
  <div id="how">
    <div class="container">
      <h2>How does it work</h2>
      <p>Starting from a video created ad-hoc, everyone is invited to draw a variation on on of the frames, whick will contribute to generate a collective work, living and ever-changing.</p>
      <ul class="box-container">
        <li>
            <div class="box">
                <div class="spray-icon"></div>
                <h3><a href="/home"><span>Web</span><br> Experience</a></h3>
            </div>
        </li>
        <li>
            <div class="box">
              <div class="spray-icon"></div>
              <h3><a href="/about#store"><span>Store</span><br> Experience</a></h3>
            </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- STORE EXPERIENCE -->

  <div id="store">
    <div class="full-width-spray">
      <div class="container">
        <h2>Store experience</h2>
        <p>Real space of an interactive installation where the physicality and the interaction medium itself contribute to the experience.</p>
        <div id="map"></div>
      </div>
    </div>
    <div class="container">
        <ul class="store-location">
          <li class="city"><span class="red">Milan</span><br><span class="small">to</span> create</li>
          <li class="city"><span class="red">Paris</span><br><span class="small">to</span> create</li>
          <li class="city"><span class="red">Madrid</span><br><span class="small">to</span> create</li>
          <li class="city"><span class="red">Dublin</span><br><span class="small">to</span> create</li>
          <li class="city"><span class="red">Rome</span><br><span class="small">to</span> create</li>
          <li class="city"><span class="red">Berlin</span><br><span class="small">to</span> create</li>
        </ul>
        <div id="promotional-video">
          <video controls>
            <source src="/assets/video/predator-is-back.mp4" type="video/mp4">
          </video>
        </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer>
      <ul id="menu">
        <li class="menu-item"><a href="/home">Home</a></li>
        <li class="menu-item">Regolamento</li>
        <li class="menu-item">Cookie policy</li>
        <li class="menu-item">adidas.it</li>
      </ul>
  </footer>

</div> <!-- main end -->
