<main id="main">
    <div class="site-inner">
      
        <header id="navbar">
          <a href="#" id="logo">
            <img src="/assets/img/AdidasVideoHacking_black.svg" alt="">
          </a>
          <nav id="menu">
            <ul>
              <li class="legal"> © 2018 adidas </li>
              <li class="about"><a href="#">About</a></li>
            </ul>
          </nav>
        </header>

        <section class="content">

            <canvas id="showingCanvas" width="800" height="450"></canvas>

        </section>
    </div>
</main>
