<div class="site-inner">
    <main id="main">
        <section class="content">

            <canvas id="drawingCanvas" width="800" height="450"></canvas>

        </section>
    </main>

    <aside class="sidebar">

        <button id="messyBrushButton" type="button">Messy brush</button>
        <button id="preciseBrushButton" type="button">Precise brush</button>

        <button id="color1Button" type="button">Color 1</button>
        <button id="color2Button" type="button">Color 2</button>
        <button id="color3Button" type="button">Color 3</button>

        <button id="resetBtn" type="button">Restart</button>
        <button id="doneBtn" type="button">Done!</button>

    </aside>

</div>