<div class="site-inner">
    <main id="main">
        <section class="content">

            <canvas id="drawingCanvas" crossorigin="anonymous"></canvas>

        </section>
    </main>

    <aside class="sidebar">

      <ul class="panel">
        <li>
          <div>
            <button id="messyBrushButton" type="button"></button>
          </div>
        </li>
        <li>
          <div>
            <button id="preciseBrushButton" type="button"></button>
          </div>
        </li>
        <li>
          <div>
            <button id="color1Button" type="button"></button>
          </div>
        </li>
        <li>
          <div>
            <button id="color2Button" type="button"></button>
          </div>
        </li>
        <li>
          <div>
            <button id="color3Button" type="button"></button>
          </div>
        </li>
        <li>
          <div>
            <button id="resetBtn" type="button"></button>
          </div>
        </li>
        <li>
          <div>
            <button id="doneBtn" type="button"></button>
          </div>
        </li>

      </ul>

    </aside>

</div>
