@import '~font-awesome/css/font-awesome.css';

/* You can add global styles to this file, and also import other style files */
html, body {
	margin: 0;
	height: 100%;
}

body {
	background: #111;
	color: #fff;
}

img {
	max-width: 100%;
}

#pleaserotate-graphic {
    fill: #fff;
}

#pleaserotate-backdrop {
    color: #fff;
    background-color: #111;
}