<app-menu-bar *ngIf="! isInStore"></app-menu-bar>

<div class="site-inner">
    <main id="main">

      <div id="intro">

        <div class="logo-intro">
          <div class="content-intro">adidas</div>
        </div>

        <div class="text-intro">
          <div class="content-intro">
            <p>hey creators<br>we are calling you!<br>hack our video</p>
            <button id="scrollToHome"><span></span></button>
          </div>
        </div>
      </div>

        <section class="content">

            <!-- Source video (hidden and used to generate the playing canvas frame by frame) -->
            <video id="sourceVideo" width="1920" height="817" preload="auto" loop="loop" crossorigin="anonymous">
                <source src="{{baseUrl}}vid/video.mp4" type="video/mp4">
            </video>

            <canvas id="playingCanvas"></canvas>

            <button *ngIf="! isInStore" id="startButton" class="animated fadeInUp">Click Here to Create</button>
            <button *ngIf="isInStore" id="startButton" class="animated fadeInUp">Spray Here to Create</button>

        </section>
    </main>
</div>
