.site-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	background: black;
}

#intro{
	position: absolute;
	width: 100%;
	height: 200%;
	background: #d0261e;
	z-index: 999;
	color: #f1f1f1;
	font-size: 5vw;
	animation: slideTopIntro 1.5s linear;
	top: -100%;
	font-family: nexa;
	font-weight: 700;
	user-select: none;
}

.logo-intro,.text-intro{
	width: 100%;
	height: 50%;
	background: #d0261e;
	display: table;
}

.content-intro{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.text-intro{
	/* background-image: url("/assets/img/intro-bg.jpg");
	background-position: center;
	background-size: cover; */
	color: #f1f1f1;
}


@keyframes slideTopIntro {
	0%{
		top: 50%;
	}
	15%{
		top: 0;
	}
	75%{
		top: 0;
	}
	100%{
		top: -100%;
	}
}
#scrollToHome {
	width: 64px;
	height: 84px;
	background-color: transparent;
	border: 0;
	padding: 0;
	margin: 0;
	position: relative;
}
#scrollToHome > span{
	width: 60px;
	height: 60px;
	display: block;
	border: 2px solid #f1f1f1;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left:0;
	animation: scrollDownAni .9s infinite;
	animation-delay: 2.3s;
	cursor: url('/assets/img/cursor.png'), pointer;
}

#scrollToHome > span::after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	transform: translate(-50%,-50%) rotate(45deg);
	border-right: 2px solid #f1f1f1;
	border-bottom: 2px solid #f1f1f1;
}

@keyframes scrollDownAni {
	0%{
		top: 20px;
	}
	50%{
		top: 0;
	}
	100%{
		top: 20px;
	}
}

/* MAIN CONTENT */

#main {
	display: table;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: #111;
}

.content {
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
}

#sourceVideo {
	display: none;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}

#startButton{
	margin: 5% auto;
	padding: 20px 50px 20px 110px;
	background-image: url("/assets/img/icons/click-here.svg");
	background-position: left center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	font-family: nexa;
	font-size: 40px;
	color: #f1f1f1;
	font-weight: 700;
	text-shadow: 4px 2px  10px #111;
	cursor: url('/assets/img/cursor.png'), pointer;
}

@media (max-width: 760px){

	canvas {
		/*
		min-width: 135%;
		min-height: 135%;
		*/
	}

	#startButton{
		font-size: 25px;
	}

}
