<div class="site-inner">
    <main id="main">
        <section class="content">

            <!-- Source video (hidden and used to generate the playing canvas frame by frame) -->
            <video id="sourceVideo" width="800" height="450" preload="auto" loop="loop" autoplay="autoplay">
                <source src="assets/video/predator-is-back.mp4" type="video/mp4">
            </video>

            <canvas id="playingCanvas"></canvas>

            <button id="startButton" [routerLink]="['/choose']" class="animated fadeInUp">Click Here to Create</button>

        </section>
    </main>
</div>